@charset "UTF-8";
html {
    font-size: 16px;
}

main,
footer {
    padding-left: 280px;
    @media only screen and (max-width: 992px) {
        padding-left: 0;
    }
}

body {
    background-color: color("grey", "lighten-4");
}

a {
    color: color("light-blue", "darken-3");
}

nav {
    background-color: color("light-blue", "darken-3");
    a {
        i.material-icons {
            font-size: 2rem;
        }
    }
    .brand-logo {
        font-size: 1.8rem;
        @media #{$large-and-up} {
            padding-left: 300px;
        }
    }
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

.navbar-fixed {
    z-index: 997;
}

#slideNav {
    width: 280px;
    .collapsible-header {
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        &.active {
            background-color: color("grey", "lighten-2");
        }
        @media #{$small-and-down} {
            height: 56px;
            line-height: 56px;
        }
        padding: 0 5px;
        .material-icons {
            margin-right: 0.5rem;
        }
        border-bottom: 1px solid #ddd;
    }
    .collapsible-body li.section-item {
        display: block;
        &.selected {
            background-color: color("light-blue", "lighten-5");
            color: $sidenav-font-color;
        }
        a {
            padding: 0 10px;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
        }
        &:last-child a {
            border-bottom: 1px solid #ddd;
        }
    }
}

#mainContent {
    .lesson-item {
        // height: 5.8em;
        font-size: 16px;
        cursor: pointer;
    }
}

#lessonContent {
    a {
        line-height: 1.8em;
        &.playingAudio {
            color: color("red", "darken-4");
        }
    }
}

.lesson-index {
    margin-right: 0 !important;
    max-width: inherit !important;
}

#audioPlayback {
    display: none;
}

#modalAbout {
    height: 50%;
    max-height: 50%;
}

#modalLesson {
    height: 80%;
    max-height: 80%;
}

@media #{$small-and-down} {
    #modalLesson,
    #modalAbout {
        top: 0 !important;
        height: 100%;
        width: 100%;
        max-height: 100%;
    }
}


/** icons **/

*[class^="icon-"] {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}

.icon-menu {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'>\a <path d='M0 0h24v24H0z' fill='none'/>\a <path fill='white' d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/>\a</svg>")
}

.icon-info {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'>\a <path d='M0 0h24v24H0z' fill='none'/>\a <path fill='white' d='M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z'/>\a</svg>")
}

.icon-dropdown {
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'>\a <path d='M7 10l5 5 5-5z'/>\a <path d='M0 0h24v24H0z' fill='none'/>\a</svg>");
    font-size: 1.5em;
    opacity: .7
}

$xlarge-and-up: "only screen and (min-width : #{$large-screen-up})" !default;

/** masonry layout **/

.masonry-container {
    width: 100%;
    padding: 0 0 0 20px;
    .masonry {
        width: 100%;
        > div {
            width: 100%;
            padding-right: 20px;
            box-sizing: border-box;
            width: 50%;
            margin-bottom: 20px;
            @media #{$medium-and-up} {
                width: 33.3%;
            }
            @media #{$xlarge-and-up} {
                width: 25%;
            }
            > div {
                width: 100%;
                margin: 0;
            }
        }
    }
}
