@charset "UTF-8";
html {
    font-size: 16px;
}

main,
footer {
    padding-left: 280px;
    @media only screen and (max-width: 992px) {
        padding-left: 0;
    }
}

a {
    color: color("light-blue", "darken-3");
}

nav {
    background-color: color("light-blue", "darken-3");
    a {
        i.material-icons {
            font-size: 2rem;
        }
    }
    .brand-logo {
        font-size: 1.8rem;
        @media #{$large-and-up} {
            padding-left: 300px;
        }
    }
}

.navbar-fixed {
    z-index: 997;
}

#slideNav {
    width: 280px;
    .collapsible-header {
        &.active {
            background-color: #e0e0e0;
        }
        @media #{$medium-and-down} {
            height: 56px;
            line-height: 56px;
        }
        padding: 0 5px;
        .material-icons {
            margin-right: 0.5rem;
        }
        border-bottom: 1px solid #ddd;
    }
    .collapsible-body li.section-item {
        display: block;
        &.selected {
            background-color: #eee;
            color: $sidenav-font-color;
        }
        a {
            padding: 0 10px;
            height: 44px;
            line-height: 44px;
            font-size: 14px;
        }
        &:last-child a {
            border-bottom: 1px solid #ddd;
        }
    }
}

#mainContent {
    .lesson-item {
        // height: 5.8em;
        font-size: 16px;
        cursor: pointer;
    }
}

#lessonContent {
    h1 {
        font-size: 1.5em;
    }
    a {
        line-height: 1.8em;
        &.playingAudio {
            color: color("red", "darken-4");
        }
    }
}

#audioPlayback {
    display: none;
}

.modal {
    @media #{$medium-and-down} {
        width: 90%;
        max-height: 90%;
    }
}

$xlarge-and-up: "only screen and (min-width : #{$large-screen-up})" !default;

/** masonry layout **/

.masonry-container {
    width: 100%;
    padding: 0 0 0 20px;
    .masonry {
        width: 100%;
        > div {
            width: 100%;
            padding-right: 20px;
            box-sizing: border-box;
            width: 50%;
            margin-bottom: 20px;
            @media #{$large-and-up} {
                width: 33.3%;
            }
            @media #{$xlarge-and-up} {
                width: 25%;
            }
            > div {
                width: 100%;
                margin: 0;
            }
        }
    }
}
